<!DOCTYPE html>
<html lang="en">
<head>
	<title>Unikorn Identity</title>
</head>
<body>
	<main>
		<h1>Oops! Something went wrong</h1>
		<dl>
			<dt>Error</dt>
			<dd>{{ .error }}</dd>
			<dt>Description:</dt>
			<dd>{{ .message }}</dd>
		</dl>
	</main>
</body>
</html>
