<html lang="en">
<head>  
        <style> 
                body: { font-size: 12px; }
                h1: { font-size: 20px; font-weight: bold; }
        </style>
</head>
<body>
        <header>
                <h1>Hello!</h1>
        </header>
        <main>   
                <p>You've been added to the {{ .organization }} organization in Unikorn Cloud.</p>
                <p>To continue your journey click <a href="{{ .verifyLink }}">here</a> to confirm and verify your account information.
        </main>
</body>
</html> 
