---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: oauth2clients.identity.unikorn-cloud.org
spec:
  group: identity.unikorn-cloud.org
  names:
    categories:
    - unikorn
    kind: OAuth2Client
    listKind: OAuth2ClientList
    plural: oauth2clients
    singular: oauth2client
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.labels['unikorn-cloud\.org/name']
      name: display name
      type: string
    - jsonPath: .spec.redirectUri
      name: redirect uri
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OAuth2Client describes an oauth2 client.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OAuth2ClientSpec defines the required configuration for the
              client.
            properties:
              errorUri:
                description: ErrorURI is a URI to pass control to for error dialogs.
                type: string
              homeUri:
                description: HomeURI is a URI to pass control to get to the console.
                type: string
              loginUri:
                description: LoginURI is a URI to pass control to for login dialogs.
                type: string
              redirectUri:
                description: RedirectURI is the URI to pass control back to the client.
                type: string
              tags:
                description: Tags are aribrary user data.
                items:
                  description: Tag is an arbirary key/value.
                  properties:
                    name:
                      description: Name of the tag.
                      type: string
                    value:
                      description: Value of the tag.
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
            required:
            - redirectUri
            type: object
          status:
            description: OAuth2ClientStatus defines the status of the client.
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
