<!DOCTYPE html>
<html lang="en">
<head>
	<title>Unikorn Identity</title>
	<link rel="icon" href="https://unikorn-cloud.github.io/assets/images/logos/light-on-dark/icon.svg">
	<link rel="stylesheet" href="https://unikorn-cloud.github.io/assets/css/base.css">
	<style>
		body {
			background-image: var(--background-image);
			background-size: cover;
			height: 100vh;
		}
		section {
			height: 100vh;
			margin: auto;
			max-width: 400px;
			background-color: var(--overlay-light);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: var(--padding);
			border-left: 1px solid var(--brand-dark);
			border-right: 1px solid var(--brand-dark);
		}
		header {
			color: white;
			background-color: var(--brand-dark);
			padding: var(--padding);
		}
		header > img {
			height: 2.2em;
			width: auto;
		}
		main {
			padding: var(--padding);
			display: flex;
			flex-direction: column;
                        gap: var(--padding);
			flex-grow: 1;
		}
		main > p {
			text-align: center;
			font-weight: bold;
		}
		footer {
			color: var(--mid-grey);
			padding: var(--padding);
			display: flex;
                        flex-direction: column;
                        gap: var(--padding);
			font-size: 0.75em;
			text-align: center;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: var(--padding);
		}
		@media only screen and (min-width: 720px) {
			section {
				margin-left: 100px;
			}
		}
	</style>
</head>
<body>
	<section>
		<header>
			<img src="https://unikorn-cloud.github.io/assets/images/logos/light-on-dark/logo.svg" />
		</header>
		<main>
			<p>Enter your e-mail address to continue</p>
			<form method="post" action="/oauth2/v2/login">
				<input id="email" name="email" type="email" placeholder="joe.bloggs@acme.com" autocomplete="email" required />
				<input id="query" name="query" type="hidden" value="{{ .query }}" />
				<input id="input" type="submit" value="Login" />
			</form>
		</main>
		<footer>
			<p>Copyright &copy; 2024 the Unikorn Authors.</p>
		</footer>
	</section>
</body>
</html>
